:root {
  --color-progress: limegreen;
}

html {
  font-family: "JetBrains Mono", monospace;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(30rem, 100%);
  margin: 0 auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
